
pre {
	font-size: 0.8em;
}

tt {
	font-size: 0.9em;
}

a, a:active, a:visited {
	color: #930F09;
	border: 0;
	text-decoration: underline;
}

.banner {
	position: relative;
	height: 70px;
	margin-bottom: 20px;
	background: url('banner_gradient.gif') top left repeat-x #d8edfd;
	overflow: visible;
	box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
}

.banner .banner-bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 630px;
	height: 70px;
	background: url('banner_schraffur.gif') top right no-repeat;
	z-index: 0;
}

.topnav, .topnav a, .topnav a:visited {
	color: #666;
}

header {
	position: relative;
}

header .topnav {
	position: absolute;
	right: 0px;
	bottom: 28px;
}

header h1 {
	padding: 10px 0 0 0;
	margin: 0;
	width: auto;
}

header h1 a {
	width: 0;
	height: 0;
	padding: 67px 0 0 360px;
	font-size: 22px;
	background: url('roundcube_plugins_logo.png') top left no-repeat;
}

footer {
	padding-bottom: 2em;
}

footer ul {
	float: left;
}

footer a, footer a:visited {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.main h1 {
	margin-top: 12px;
}

.main h1:first-child {
	margin-top: 4px;
}

.main h2 {
	font-size: 18px;
	margin-top: 12px;
}

.main ol {
	margin-bottom: 10px;
}

.box {
	background-color: #fafafa;
}

.submit, .submit:active, .submit:visited, input[type="submit"] {
	padding: 10px 16px;
	font-size: 18px;
}

.container .headblock {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.container .headblock h1 {
	font-size: 20px;
	padding: 10px 0;
}

.container .headblock .betabadge {
	display: inline-block;
	position: relative;
	top: -14px;
	left: 6px;
	padding: 3px 9px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	background-color: #127cbb;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
/*
	top: -15px;
	left: -6px;
	-ms-transform: rotate(28deg);
	-moz-transform: rotate(28deg);
	-webkit-transform: rotate(28deg);
	-o-transform: rotate(28deg);
	transform: rotate(28deg);
*/
}

.container .headblock .submit {
	margin-top: 0;
	margin-bottom: 0;
}

.submit.left, .submit.left:active, .submit.left {
	float: left;
}

.package h1 a, .package h1 a:visited {
	color: #53a51d;
}

